.row {
    max-width : $grid-width;
    // background-color: #eee;
    margin: 0 auto; /* to center block element */
    
    &:not(:last-child){
        margin-bottom: $gutter-vertical;

        @include respond (tab-port) {
            margin-bottom: $gutter-vertical-small;
        }
    }

    @include respond (tab-port) {
        max-width: 50rem;
        padding: 0 3rem;
    }

    @include clearfix;

    // attribute selector
    [class ^= "col-"] {
        // background-color: orangered;
        float: left;
        
        &:not(:last-child) {
            margin-right: $gutter-horizontal;

            @include respond (tab-port) {
                margin-right: 0;
                margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond (tab-port) {
            width: 100% !important;
        }
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    .col-1-of-3 {
        width: calc((100% - 2 *  #{$gutter-horizontal}) / 3);
    }

    .col-2-of-3 {
        width: calc( 2 * ((100% - 2 *  #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
    }
}